p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #FAF0E4;
    justify-content: center;
    text-align: center;
}

.footer {
    font-size: 0.8rem;
    justify-content: center;
}

body {
    font-family: sans-serif;
    background-color: #2E8A99;
    justify-content: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-greeting{
  color: #EA906C;
  text-align: center;

}
.my-photo {
    height: 200px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

.button {
    background-color: #1F6E8C;
    color: #FAF0E4;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
.button:hover{
    background-color: #EA906C;
}

nav {
    background-color: #22A699;
    padding: 10px;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }

li {
    margin-right: 10px;
  }

a {
    text-decoration: none;
    color: #333;
    padding: 5px;
    border-radius: 3px;
  }

a:hover {
    background-color: #333;
    color: #fff;
  }

